/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        OSX_LAYER: OSX_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "OSX_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sl 5>, <&to 1>;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&sk>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&sk>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
        };

        PC_LAYER: PC_LAYER {
            compatible = "zmk,behavior-tap-dance";
            label = "PC_LAYER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp N2>, <&to 0>;
        };

        new_behavior: new_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "NEW_BEHAVIOR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
        };

        apost_under: apost_under {
            compatible = "zmk,behavior-mod-morph";
            label = "APOST_UNDER";
            bindings = <&kp APOSTROPHE>, <&kp UNDER>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        comma_question: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            bindings = <&kp COMMA>, <&kp QUESTION>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        dot_greater: dot_greater {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_GREATER";
            bindings = <&kp DOT>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        slash_less: slash_less {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASH_LESS";
            bindings = <&kp SLASH>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        minus_quotes: minus_quotes {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_QUOTES";
            bindings = <&kp MINUS>, <&kp DOUBLE_QUOTES>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RSFT)>;
        };

        q_osx_layer_name: q_osx_layer_name {
            compatible = "zmk,behavior-tap-dance";
            label = "Q_OSX_LAYER_NAME";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&osx_layer_print>;
        };

        q_win_layer_name: q_win_layer_name {
            compatible = "zmk,behavior-tap-dance";
            label = "Q_WIN_LAYER_NAME";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&win_layer_print>;
        };
    };

    macros {
        ctrl_alt_del: ctrl_alt_del {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(LA(DEL))>;
            label = "CTRL_ALT_DEL";
        };

        email: email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N &kp E &kp L &kp R &kp E &kp T &kp H &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M>;
            label = "EMAIL";
        };

        osx_layer_print: osx_layer_print {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(O) &kp LS(S) &kp LS(X)>;
            label = "OSX_LAYER_PRINT";
        };

        win_layer_print: win_layer_print {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(W) &kp LS(I) &kp LS(N)>;
            label = "WIN_LAYER_PRINT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        PC {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp B              &kp L            &kp D                &kp W            &kp Z        &apost_under  &kp F  &kp O          &kp U             &kp J        &kp BSPC
&kp TAB     &kp N              &HML LEFT_ALT R  &HML LEFT_CONTROL T  &HML LEFT_WIN S  &kp G        &kp Y         &kp H  &HMR RCTRL A   &HMR RIGHT_ALT E  &kp I        &comma_question
&kp LSHFT   &q_win_layer_name  &kp X            &kp M                &kp C            &kp V        &kp K         &kp P  &dot_greater   &minus_quotes     &slash_less  &OSX_LAYER
                                                &none                &mo 2            &kp SPACE    &kp RET       &mo 3  &kp RIGHT_ALT
            >;
        };

        OSX {
            bindings = <
&kp ESCAPE  &kp B              &kp L         &kp D        &kp W        &kp Z        &apost_under  &kp F        &kp O         &kp U          &kp J        &kp BSPC
&kp TAB     &kp N              &HML LCTRL R  &HML LALT T  &HML LCMD S  &kp G        &kp Y         &HMR RCMD H  &HMR RALT A   &kp E          &kp I        &kp COMMA
&kp LSHFT   &q_osx_layer_name  &kp X         &kp M        &kp C        &kp V        &kp K         &kp P        &dot_greater  &minus_quotes  &slash_less  &PC_LAYER
                                             &none        &mo 2        &kp SPACE    &kp RET       &mo 3        &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6    &kp N7          &kp N8        &kp N9     &kp N0    &kp BSPC
&trans     &trans  &trans  &trans  &trans  &trans       &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp PIPE  &kp TILDE
&kp LSHFT  &trans  &trans  &trans  &trans  &trans       &trans    &trans          &trans        &trans     &trans    &mo 4
                           &trans  &trans  &kp SPACE    &kp RET   &trans          &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET         &kp AMPS           &kp ASTRK  &kp LPAR   &kp RPAR  &kp BSPC
&kp F1   &kp F2    &kp F3  &kp F4    &kp F5    &kp F6       &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp SEMI   &kp EQUAL  &kp BSLH  &kp GRAVE
&kp F7   &kp F8    &kp F9  &kp F10   &kp F11   &kp F12      &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp COLON  &kp PLUS   &kp PIPE  &kp TILDE
                           &kp LGUI  &trans    &kp SPACE    &kp RET           &trans             &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&bootloader  &out OUT_USB  &out OUT_BLE  &trans        &trans        &trans          &ctrl_alt_del  &trans  &trans  &trans  &trans  &bootloader
&bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans         &trans  &trans  &trans  &trans  &trans
&trans       &bt BT_PRV    &bt BT_NXT    &trans        &trans        &trans          &trans         &trans  &trans  &trans  &trans  &trans
                                         &trans        &trans        &trans          &trans         &trans  &trans
            >;
        };

        strings {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &email  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
